!.gitignore

Examples/Freescale/FRDM-KL25Z/OS3/KeilMDK/Listings/*
Examples/Freescale/FRDM-KL25Z/OS3/KeilMDK/Objects/*
Examples/Freescale/FRDM-KL25Z/OS3/KeilMDK/*.uvguix.*
Examples/Freescale/FRDM-KE02Z/OS3/KeilMDK/Listings/*
Examples/Freescale/FRDM-KE02Z/OS3/KeilMDK/Objects/*
Examples/Freescale/FRDM-KE02Z/OS3/KeilMDK/*.uvguix.*
